@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --gray: #BEBEBE;
    --light-gray: #E2E2E2;
    --stroke-gray: #E2E2E2;
    --white: #FCFCFC;
    --black: #151515;
    --light-black: #545454;
    --violet: #7E0CF5;
}

* {
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--gray);
    display: grid;
    place-items: center;
}

.screen {
    width: 300px;
    height: 540px;
    background-color: var(--white);
    border-radius: 25px;
    overflow: hidden;
    padding: 30px 30px;
    
}